<!DOCTYPE html>
<html>
<head>
  <title>Taskager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class='header'>
  <h1>Welcome to Taskager</h1>
    <%= link_to 'Home', groups_path %>
    <% if current_user %>
      <%= link_to 'Signout', destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to 'Signup', new_user_registration_path %> <%= link_to 'Login', new_user_session_path %>
    <% end %>
</header>

  <%= yield %>

</body>
</html>
