<h2>Members <%= link_to "+", new_group_member_path %></h2>

<div class= 'members'>
  <% @memberships.each do |membership| %>
    <p><%=membership.member.name %> <%= link_to "Edit", edit_group_member_path(@group, membership.member) %>
      <%= link_to "Delete", group_member_path(@group, membership.member), method: :delete %></p>
    <p>Tasks <%= link_to "+", new_membership_task_path(membership) %></p>
    <div class='task_list'>
      <ul><% membership.tasks.each do |task| %>
        <li><%=task.task%></li>
          <%end%>
      </ul>
  <%end%>
    </div>
</div>
